DEEPSEEK_API_KEY=your_deepseek_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
RAG_STORAGE_DIR=/Users/yadhumanikandan/Developer/light_rag/rag_storage
UPLOAD_DIR=/Users/yadhumanikandan/Developer/light_rag/uploads
DOCUMENTS_DIR=/Users/yadhumanikandan/Developer/light_rag/documents
